<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <article>
            <h1>
                <%= @article.title %>
            <small>
                <%= link_to "Edit", edit_article_path(@article.id) %>
                <%# <a href=""><i class="fa fa-pencil"></i></a> %>
                <%= link_to "Delete", article_path(@article.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
                <%# <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href=""> %>
                <%# <i class="fa fa-trash-o"></i> %>
            </small>
            </h1>
            <hr>
            <p><%= @article.content %></p>
        </article>
    </div>
</div>